h1{
    text-align: center;
    text-decoration: underline;

}

body{
    color:7D4600;
    background-color:#F0CF65;
    border:double #6B0F1A 10px;
    padding: 10px 50px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
 }   
 #Google{
     color: #7D4600;
     text-decoration: underline;
     
 }
 #Twitter{
      font-family:sans-serif;
    
 }
 #Twitter:hover {
    font-family:sans-serif;
    text-transform:uppercase;
}



.hm-btn{
    padding: 5px;
    border: 2px solid #7D4600;
    background-color:#7D4600;
    color: #F0CF65;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
}


.bk-btn{
    padding: 5px;
    border: 2px solid #7D4600;
    background-color:#7D4600;
    color: #F0CF65;
    text-decoration: none;
    border-radius: 6px;
}

li{
    margin:5px;
    padding:4px ;
    list-style: none;
    display: inline;
    text-align: justify;
}

