body{
    background-color: #2a9d8f;
    text-align: center;
    
}

h1 {
    text-decoration: underline;
}

.a-1{

    text-decoration: underline snow;
    color: snow;
    border:0px hidden none ;
   
}

li{
    list-style: none;
    padding: 10px;
}

#img-1{
    border: 5px double snow;
}

.hm-btn{
    padding: 5px;
    border: 2px solid gainsboro;
    background-color: #00635D;
    color: #2a9d8f;
    text-decoration: none;
    border-radius: 6px;
    
}



.bk-btn{
    padding: 5px;
    border: 2px solid gainsboro;
    background-color: #00635D;
    color: #2a9d8f;
    text-decoration: none;
    border-radius: 6px;
    
}


    