body{
    background-color: #2a9d8f;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.a-1{

    text-decoration: underline snow;
    color: snow;
    border:0px hidden none ;
   
}

li{
    list-style: none;
    padding: 10px;
}

#img-1{
    border: 5px double snow;
}
    