body{
    background-color: #1d3557;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.a-1{

    text-decoration: underline snow;
    color: snow;
    border:0px hidden none ;
   
}

li{
    list-style: none;
    padding: 10px;
}

.hm-btn{
    display: inline;
    padding: 5px;
    border: 2px solid gainsboro;
    background-color: gainsboro;
    color: #1d3557;
    text-decoration: none;
    border-radius: 6px;
}

#img-1{
    border: 5px double snow;    
}
    